@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    
}


/* paddings, porcentuados y numerados de mayor a menor, b -bottom, t -top, r -right, l- left */

.p {
    padding: 5%;
}

.pb {
    padding-bottom: 0.5%;
}

.pt {
    padding-top: 1%;
}

.pr {
    padding-right: 1%;
}

.pl {
    padding-left: 1%;
}

.p-2 {
    padding: 2%;
}

.pb-2 {
    padding-bottom: 2%;
}

.pt-2 {
    padding-top: 2%;
}

.pr-2 {
    padding-right: 2%;
}

.pl-2 {
    padding-left: 2%;
}


/*col-1 a col-12*/

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* posicionar con flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}
.erpa{
    text-decoration: none;
    text-align: center;
    font-size:xx-large;
    color: rgb(255, 255, 255);
  padding: 2%;
  cursor: pointer;
}


.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(49, 81, 97);
    padding: 1%;
}
.cosa{
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;;
}
.botonnav{

    background-color: rgb(49, 81, 97);
    padding: 1%;
    text-align: center;
}
.botonnav:hover{
 cursor: pointer;
  border-radius: 2px;
  box-shadow: 2px  5px 15px rgba(55, 55, 55, 0.429);
  text-align: center;
 
  color: rgb(239, 218, 184);
  
  
}


.enlaces{
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 5%;
    border-radius: 4px;
    width: 100%;
}


.enlaceERP{
    color: white;
    text-decoration: none;
}
.botones {
    border: none;
    text-align: center;  
}


#campotexto1 {
    font-size: 1.5em;
    text-transform: uppercase;
    border-radius: 14px;
    border-style: solid;
    width: 80%;
    height: 4.385964912280702vh;
    border: none;
    position: relative;
    
}

textarea:focus,
input:focus {
    outline: none;
}

.buscar {
    position: absolute;
    width: 38px;
    color: white;
}

.divresultado 
{
    position: absolute;
    top: 64px;
}

#usuario {
    text-align: right;
}


/*Clases para footer*/

.bordefooter {
    border-bottom: 1px solid black;
}

footer {
    background-color:  rgb(49, 81, 97);
   
}

footer a {
    text-decoration: none;
    color:white;
}

footer div.col-10 {
    margin: auto;
}


/* Clases para pagina Login */

.Slogin {
    text-align: center;
    margin: 11%;
    height: 42vh; 
}

.Sregister {
    text-align: center;
    margin: 11%;
    height: 50vh;

}

.cajaAzul {
    background-color: rgb(49, 81, 97);
    border-radius: 12px;
    margin: auto;
    width: 50%;
    
}

.cajaAzul div h1 {
    color: white;
}

.form1 {
    padding: 1.5%;
}

.input-log {
    padding: 2.5%;
    width: 70%;
    border-radius: 6px;
    margin-top: 2%;
}

.form1 div {
    
    border-radius: 5px;
}

.frasesregistros{
    padding: 0.5%;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

.botonLR {
    background-color: rgb(239, 218, 184);
    border-radius: 5px;
    padding: 1%;
    /* background-color: #00A3FF; */
    border: none;
    color: rgb(0, 0, 0);
    margin-top: 0%;
    margin-bottom: 1.2%;
    border-color: black;
    cursor: pointer;
    
}

.textaling-r {
    display: flex;
    margin: auto;
    justify-content: end;
    width: 70%;
}


/* clases registro */

.cajar {
    margin: 2%;
}

/*Clase para pagina principal*/

.imagenes_principal{
    height: 60vh;
    max-height: 100%;
}

.parrafos{
    margin: 1% 0;
    padding: 1%;
    color: #333333;
}

.titulos{
    margin-bottom: 1%;
    font-size: 3em;
}

.textos{
    font-size: 1.5em;
}


.descubrir{
    font-size: 1.2em;
}
.botondescubrir{
    text-align: center;
    border-radius: 14px;
    background-color:  rgb(239, 218, 184);
    color:rgb(0, 0, 0) ;
    padding: 8px 16px;
    text-decoration: none;
    border-color: black;
    cursor: pointer;
}

/*Clases para el div donde se vuelcan resultados*/

.bloque0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1% 0;
}

.bloque1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inicio{
   margin: 0% 0.2%;
}



